## Move it to "notebooks" folder to make imported functions to work!!!

In [2]:
import numpy as np
import pandas as pd
import project_functions1 as p1

In [3]:
pathRaw = '../data/raw/recent-grads.csv'
rawData = p1.load_raw(pathRaw)
rawData.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [4]:
major_cat_list = rawData['Major_category'].unique()
print(len(major_cat_list))

16

In [5]:
major_cat_list = np.sort(major_cat_list)
major_cat_list

array(['Agriculture & Natural Resources', 'Arts',
       'Biology & Life Science', 'Business',
       'Communications & Journalism', 'Computers & Mathematics',
       'Education', 'Engineering', 'Health', 'Humanities & Liberal Arts',
       'Industrial Arts & Consumer Services', 'Interdisciplinary',
       'Law & Public Policy', 'Physical Sciences',
       'Psychology & Social Work', 'Social Science'], dtype=object)

In [6]:
count = 0
program_num = []
for i in range( len(major_cat_list) ):
    for k in rawData['Major_category']:
        if major_cat_list[i] == k:
            count += 1
    print(major_cat_list[i], "=", count)
    program_num.append(count)
    count = 0
print(program_num)

Agriculture & Natural Resources = 10
Arts = 8
Biology & Life Science = 14
Business = 13
Communications & Journalism = 4
Computers & Mathematics = 11
Education = 16
Engineering = 29
Health = 12
Humanities & Liberal Arts = 15
Industrial Arts & Consumer Services = 7
Interdisciplinary = 1
Law & Public Policy = 5
Physical Sciences = 10
Psychology & Social Work = 9
Social Science = 9
[10, 8, 14, 13, 4, 11, 16, 29, 12, 15, 7, 1, 5, 10, 9, 9]

In [7]:
cdf = p1.process_data(pathRaw)
cdf = p1.group_by_majorCat(cdf)
cdf

,Major_category,Total,Men,Women,Employed,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs,Amount_of_Programs
0,Agriculture & Natural Resources,75620.0,40357.0,35263.0,63794,3486,0.466352,316000,222000,410100,18677,33217,7414,9
1,Arts,357130.0,134390.0,222740.0,288114,28228,0.721382,264500,175700,349300,94785,163720,60116,8
2,Biology & Life Science,453862.0,184919.0,268943.0,302797,22854,0.852849,509900,372600,645200,151233,127182,42742,14
3,Business,1302376.0,667852.0,634524.0,1088742,79877,0.923826,566000,435000,713000,148538,496570,126788,13
4,Communications & Journalism,392601.0,131921.0,260680.0,330660,26852,0.302151,138000,105000,179900,86556,172992,49595,4
5,Computers & Mathematics,299008.0,208725.0,90283.0,237894,18373,0.926816,470200,322200,639000,137859,74463,16136,11
6,Education,559129.0,103526.0,455603.0,479839,24969,0.827232,517600,425450,617000,338713,121761,40870,16
7,Engineering,537583.0,408307.0,129276.0,420372,29817,1.836682,1664100,1205100,2043000,269767,102383,25079,29
8,Health,463230.0,75517.0,387713.0,372147,22213,0.791042,441900,314000,603000,245441,110496,31270,12
9,Humanities & Liberal Arts,713468.0,272846.0,440622.0,544118,51101,1.215114,478700,352400,631100,192650,276532,94240,15
10,Industrial Arts & Consumer Services,229792.0,103781.0,126011.0,189043,11526,0.336499,254400,187400,316000,57200,104620,26590,7
11,Interdisciplinary,12296.0,2817.0,9479.0,9821,749,0.070861,35000,25000,44000,5176,3903,1061,1
12,Law & Public Policy,179107.0,91129.0,87978.0,144790,13495,0.454024,211000,163200,275000,29221,100024,20720,5
13,Physical Sciences,185479.0,95390.0,90089.0,139231,7880,0.465111,418900,283500,572900,76552,49469,14078,10
14,Psychology & Social Work,481007.0,98115.0,382892.0,380344,33292,0.648583,270900,228000,349000,164305,169366,56246,9
15,Social Science,529966.0,256834.0,273132.0,401493,42975,0.861559,336100,255200,451000,113960,190246,54180,9

In [10]:
cdf["Correct_Unemployment_Rate"] = ( cdf["Unemployed"] / cdf["Total"] )
cdf.head()

,Major_category,Total,Men,Women,Employed,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs,Amount_of_Programs,Correct_Unemployment_Rate
0,Agriculture & Natural Resources,75620.0,40357.0,35263.0,63794,3486,0.466352,316000,222000,410100,18677,33217,7414,9,0.046099
1,Arts,357130.0,134390.0,222740.0,288114,28228,0.721382,264500,175700,349300,94785,163720,60116,8,0.079041
2,Biology & Life Science,453862.0,184919.0,268943.0,302797,22854,0.852849,509900,372600,645200,151233,127182,42742,14,0.050355
3,Business,1302376.0,667852.0,634524.0,1088742,79877,0.923826,566000,435000,713000,148538,496570,126788,13,0.061332
4,Communications & Journalism,392601.0,131921.0,260680.0,330660,26852,0.302151,138000,105000,179900,86556,172992,49595,4,0.068395

In [13]:
cdf["College_Jobs_%"] = ( cdf['College_jobs'] / cdf['Total'] )
cdf

,Major_category,Total,Men,Women,Employed,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs,Amount_of_Programs,Correct_Unemployment_Rate,College_Jobs_%
0,Agriculture & Natural Resources,75620.0,40357.0,35263.0,63794,3486,0.466352,316000,222000,410100,18677,33217,7414,9,0.046099,0.246985
1,Arts,357130.0,134390.0,222740.0,288114,28228,0.721382,264500,175700,349300,94785,163720,60116,8,0.079041,0.265408
2,Biology & Life Science,453862.0,184919.0,268943.0,302797,22854,0.852849,509900,372600,645200,151233,127182,42742,14,0.050355,0.333214
3,Business,1302376.0,667852.0,634524.0,1088742,79877,0.923826,566000,435000,713000,148538,496570,126788,13,0.061332,0.114052
4,Communications & Journalism,392601.0,131921.0,260680.0,330660,26852,0.302151,138000,105000,179900,86556,172992,49595,4,0.068395,0.220468
5,Computers & Mathematics,299008.0,208725.0,90283.0,237894,18373,0.926816,470200,322200,639000,137859,74463,16136,11,0.061447,0.461055
6,Education,559129.0,103526.0,455603.0,479839,24969,0.827232,517600,425450,617000,338713,121761,40870,16,0.044657,0.605787
7,Engineering,537583.0,408307.0,129276.0,420372,29817,1.836682,1664100,1205100,2043000,269767,102383,25079,29,0.055465,0.501815
8,Health,463230.0,75517.0,387713.0,372147,22213,0.791042,441900,314000,603000,245441,110496,31270,12,0.047952,0.529847
9,Humanities & Liberal Arts,713468.0,272846.0,440622.0,544118,51101,1.215114,478700,352400,631100,192650,276532,94240,15,0.071623,0.270019
10,Industrial Arts & Consumer Services,229792.0,103781.0,126011.0,189043,11526,0.336499,254400,187400,316000,57200,104620,26590,7,0.050158,0.248921
11,Interdisciplinary,12296.0,2817.0,9479.0,9821,749,0.070861,35000,25000,44000,5176,3903,1061,1,0.060914,0.420950
12,Law & Public Policy,179107.0,91129.0,87978.0,144790,13495,0.454024,211000,163200,275000,29221,100024,20720,5,0.075346,0.163148
13,Physical Sciences,185479.0,95390.0,90089.0,139231,7880,0.465111,418900,283500,572900,76552,49469,14078,10,0.042485,0.412726
14,Psychology & Social Work,481007.0,98115.0,382892.0,380344,33292,0.648583,270900,228000,349000,164305,169366,56246,9,0.069213,0.341585
15,Social Science,529966.0,256834.0,273132.0,401493,42975,0.861559,336100,255200,451000,113960,190246,54180,9,0.081090,0.215033

In [14]:
cdf.to_csv("../data/processed/data_processed1.csv")